@charset "utf-8";
/* css document */
title {
    color: blue;
}
nav {
    background-color: lightgray; padding: 1%;
}
nav a {
    font-size: 150%; padding: 1%;
}
nav a:hover{
    color: blueviolet;
}
h1{
    color: blue; text-align: center;
}
body {
    background-image: url("../imagenes/RE4wE8t.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 20px;
}
legend {
    font-size: 140%;
    background-color: lightgray;opacity: 90%;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
fieldset {
    background-color: lightgray;opacity: 90%;
    border-color: greenyellow;
    margin: 1%;
}
img {
    width: 20%; height: 20%;
}
#numeros-clikeables{
    width: 22%; height: 22%;
}
main {
    margin-left: 20%;
    margin-right: 0%;
    padding: 5%;
    background-color: lightgray;
}
pre {
    background-color: lightgray;opacity:80%;
}
table{
    width: 100%;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;         /* bordes ovalados */
    border-spacing: 10px;
}
th, tr, td{
    border: 2px dashed black;
    border-radius: 10px;
}
tr:nth-child(even){    /* even para filas pares y odd para filas impares*/
    background-color: green;
}
tr:hover{
    /* para cuando el mouse pase por encima*/
    background-color: aquamarine;
}
ol{
    list-style-type: upper-roman;
}
ul{
    list-style-type: square;
}
#lugar-8{
    background-color: lightgray;
    opacity: 100;
}
#withweb{
    height: 800px;
    width: 100%;
}
iframe{
    height: 300px;
    width: 100%;
}