@charset "utf-8";
/* css document */

title {
    color: blue;
}
nav { background-color: lightgray; padding: 1%;

}
nav a {font-size: 150%; padding: 1%;

}
h1{
    color: blue; text-align: center;
}
body {
    background-image: url("../imagenes/RE4wE8t.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 20px;
}
legend {
    font-size: 140%;
    background-color: lightgray;opacity: 80%;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    box-decoration-break: slice;
}
fieldset {
    background-color: lightgray;opacity: 80%;
    border-color: cyan;
}
img {
    width: 10%; height: 10%;
    opacity: none;
}
