@charset "utf-8";
/* css document */

title {
    color: blue;
}

body {
    background-image: url("../imagenes/RE4wE8t.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 20px;
}

legend {
    font-size: 140%;
    background-color: lightgray;opacity: 80%;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    box-decoration-break: slice;
}